body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

/* Sidebar Styling */
.sidebar {
    width: 80px;
    height: 100vh;
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 15px;
}
nav-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: burlywood;
    cursor: pointer;
}

.nav-item.active {
    background: #0047ab;
    color: white;
    width: auto;
    padding: 0 15px;
    border-radius: 20px;
}.logo-icon {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 10rem;
    margin: 10px 0;
}

.button-group {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    color: blue;
    border: 1px solid white;
    padding: 30px 20px;
    margin: 30px;
    border-radius: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: greenyellow;
    color: #0047ab;
}